In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [3]:
df=pd.read_csv('housing_price_dataset.csv')

In [4]:
df

       SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
0            2126         4          1        Rural       1969  215355.283618
1            2459         3          2        Rural       1980  195014.221626
2            1860         2          1       Suburb       1970  306891.012076
3            2294         2          1        Urban       1996  206786.787153
4            2130         5          2       Suburb       2001  272436.239065
...           ...       ...        ...          ...        ...            ...
49995        1282         5          3        Rural       1975  100080.865895
49996        2854         2          2       Suburb       1988  374507.656727
49997        2979         5          3       Suburb       1962  384110.555590
49998        2596         5          2        Rural       1984  380512.685957
49999        1572         5          3        Rural       2011  221618.583218

[50000 rows x 6 columns]

In [5]:
df.head()

   SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
0        2126         4          1        Rural       1969  215355.283618
1        2459         3          2        Rural       1980  195014.221626
2        1860         2          1       Suburb       1970  306891.012076
3        2294         2          1        Urban       1996  206786.787153
4        2130         5          2       Suburb       2001  272436.239065

In [6]:
df.shape

(50000, 6)

In [7]:
df.describe()

         SquareFeet      Bedrooms     Bathrooms     YearBuilt          Price
count  50000.000000  50000.000000  50000.000000  50000.000000   50000.000000
mean    2006.374680      3.498700      1.995420   1985.404420  224827.325151
std      575.513241      1.116326      0.815851     20.719377   76141.842966
min     1000.000000      2.000000      1.000000   1950.000000  -36588.165397
25%     1513.000000      3.000000      1.000000   1967.000000  169955.860225
50%     2007.000000      3.000000      2.000000   1985.000000  225052.141166
75%     2506.000000      4.000000      3.000000   2003.000000  279373.630052
max     2999.000000      5.000000      3.000000   2021.000000  492195.259972

In [8]:
df.isnull()

       SquareFeet  Bedrooms  Bathrooms  Neighborhood  YearBuilt  Price
0           False     False      False         False      False  False
1           False     False      False         False      False  False
2           False     False      False         False      False  False
3           False     False      False         False      False  False
4           False     False      False         False      False  False
...           ...       ...        ...           ...        ...    ...
49995       False     False      False         False      False  False
49996       False     False      False         False      False  False
49997       False     False      False         False      False  False
49998       False     False      False         False      False  False
49999       False     False      False         False      False  False

[50000 rows x 6 columns]

In [9]:
df.isnull().sum()

SquareFeet      0
Bedrooms        0
Bathrooms       0
Neighborhood    0
YearBuilt       0
Price           0
dtype: int64

In [10]:
X=df[['SquareFeet','Bedrooms','Bathrooms']]
y=df['Price']

In [11]:
###train test split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
model=LinearRegression()

In [14]:
model.fit(X_train,y_train)

LinearRegression()

In [15]:
y_predict=model.predict(X_test)

In [16]:
from sklearn.metrics import mean_squared_error,r2_score

In [17]:
mse=mean_squared_error(y_test,y_predict)
r2=r2_score(y_test,y_predict)

In [18]:
print('model coefficients:',model.coef_)
print('model intercept:',model.intercept_)
print('mean squared error:',mse)
print('r2 score:',r2)

model coefficients: [  99.5676817  5053.37518054 2873.85845093]
model intercept: 1650.0107468313072
mean squared error: 2488196490.2265124
r2 score: 0.5670201454610165

In [21]:
#predictiom 'SquareFeet','Bedrooms','Bathrooms'
house=np.array([[1700,4,3]])
pre_price=model.predict(house)
print("predicted price:",pre_price[0])

predicted price: 199750.14570445244

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(